@model PlataformaCreditos.Models.SolicitudCredito

<h2>Nueva Solicitud</h2>

<form asp-action="Create">
    <div class="form-group">
        <label for="MontoSolicitado">Monto Solicitado</label>
        <input type="number" name="MontoSolicitado" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
</form>
