@model PlataformaCreditos.Models.SolicitudCredito

@{
    ViewData["Title"] = "Detalle Solicitud";
}

<h1>Detalle Solicitud</h1>

<p><strong>Monto:</strong> @Model.MontoSolicitado</p>
<p><strong>Fecha:</strong> @Model.FechaSolicitud</p>
<p><strong>Estado:</strong> @Model.Estado</p>
@if (Model.Estado == PlataformaCreditos.Models.EstadoSolicitud.Rechazado)
{
    <p><strong>Motivo Rechazo:</strong> @Model.MotivoRechazo</p>
}
