@{
    ViewData["Title"] = "Inicio";
}

<h2>Bienvenido a Plataforma Créditos</h2>

<p>Usuario en sesión: @ViewBag.Usuario</p>

<a asp-controller="Solicitudes" asp-action="Index" class="btn btn-primary">Ver Solicitudes</a>
<a asp-controller="Clientes" asp-action="Index" class="btn btn-secondary">Ver Clientes</a>


